* {
    box-sizing: border-box
}

.portfolio-piece {
    width: 350px;
    height: auto;
}

.card-container {
    width: 70%;
    margin: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.portfolio {
    color: gray;
    padding: 40px 0px;
    width: 100%;
    text-align: center;
    background-color: #f8f9fa;
}

.modal-title {
    display: inline-block;
    color: gray;
    margin-top: -6px;
}